@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
}

.popup_width {
    width: 300px;
}

.fancy {
    color:rgb(53, 53, 53);
}

.full {
    width: 100%;
}