# folder Extension
# Edge extension vscode config

Edge Extension/.vscode

# test file and folder

Playground

# ignore node modules
edge_extension/node_modules/

#ignore main folder pycache
__pycache__

# cert for https
edge_extension/cert/localhost-key.pem
edge_extension/cert/localhost.pem

# backen server for deploying
backend_server/
