# ignore pycache in Spiders

Scrapy/Scrapy_project/spiders/__pycache__/

# ignore test file

Scrapy/Scrapy_project/spiders/test/

# ignore result folder

Scrapy/Scrapy_project/spiders/result_json/

# Edge extension vscode config

Edge Extension/.vscode