.spinner {
    width: 100px;
    height: 100px;
}

#content_form {
    height: 200px;
}

#content_submit {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.full {
    width: 100%;
    bottom: 0;
    display: block;
    position: fixed;
}

.centered {
    position: fixed;
    /* width: 100px;
    padding: 10px; */
    top: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 50%;
    margin-top: -45px; 
    margin-left: -25px;
    border-radius: 0.5rem;
}