# ignore scrapy cache
Scrapy_project\__pycache__
Scrapy_project\spiders\__pycache__

# ignore JSON and text file
Scrapy_project\result_json
result_json
*.json
*.txt

#ignore unrelate file
Scrapy_project\spiders\test